<!DOCTYPE html>
<html class="h-full" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Klean</title>
    <base href="/"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="WebUI.styles.css"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="app.min.css"/>
    <HeadOutlet/>
</head>

<body class="w-full h-full">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        <div class="flex flex-col gap-3 text-center p-5 text-black dark:text-white">
                            <h1 class="text-3xl sm:text-6xl font-extrabold">Loading...</h1>
                        </div>
                    </Authorizing>

                    <NotAuthorized>
                        <RedirectToLogin/>
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <div class="flex flex-col gap-3 text-center p-5 text-black dark:text-white">
                        <h1 class="text-3xl sm:text-6xl font-extrabold">404 - Not found</h1>
                        <p class="text-xl sm:text-2xl font-light mt-5">The page you are looking for does not exist.</p>
                    </div>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>