@using Application.Common
@using Client.Components.Ui.Avatar
@using Domain.Common

    <header class="border-b px-8 mb-4 bg-background">
        <div class="h-16 flex justify-between gap-4 items-center ">
            <nav class="flex items-center gap-4 lg:gap-6">
                <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="text-primary"
                         class="hover:text-primary text-muted-foreground text-sm font-medium transition-colors">
                    Home
                </NavLink>

                <NavLink href="/cards" Match="NavLinkMatch.All" ActiveClass="text-primary"
                         class="hover:text-primary text-muted-foreground text-sm font-medium transition-colors">
                    Cards
                </NavLink>

                <NavLink href="/dashboard" Match="NavLinkMatch.All" ActiveClass="text-primary"
                         class="hover:text-primary text-muted-foreground text-sm font-medium transition-colors">
                    Dashboard
                </NavLink>
            </nav>

            <div class="flex items-center gap-4">
                <AuthStatus />
            </div>
        </div>
    </header>