@inherits LayoutComponentBase
@inject IJSRuntime Js

<main class="h-full flex flex-col bg-topo">
    <AppHeader />

    <section class="container">
        @Body
    </section>
</main>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await Js.InvokeVoidAsync("window.initFlowbite");
    }
}
