<div class="space-y-2">
    <h1 class="w-full text-2xl sm:text-4xl font-bold tracking-tighter leading-6">
        @Title
    </h1>

    @if (!string.IsNullOrWhiteSpace(Description))
    {
        <p class="w-full text-sm sm:text-lg tracking-tighter leading-4 text-muted-foreground">
            @Description
        </p>
    }

    @if (GoBackLink)
    {
        <Button Href="/" Size="lg">
            Go back
        </Button>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public string Title { get; set; } = null!;

    [Parameter]
    public string? Description { get; set; }

    [Parameter]
    public bool GoBackLink { get; set; }
}