@inherits LayoutComponentBase
@inject IWebAssemblyHostEnvironment HostingEnvironment

<main class="flex flex-col sm:flex-row h-full w-full transition-colors">
    <Sidebar/>

    <article class="flex justify-center items-center w-full h-full bg-white dark:bg-gray-800 p-2">
        <div class="flex justify-center items-center w-full h-full bg-white dark:bg-gray-800 p-2
                    overflow-y-scroll overflow-x-hidden scrollbar-none
                    rounded-md bg-topo border-2 border-dotted border-gray-500">

            <ErrorBoundary @ref="@ErrorBoundary" Context="Exception">
                <ChildContent>
                    @Body
                </ChildContent>

                <ErrorContent>
                    <div class="flex flex-col gap-3 text-center p-5 text-black dark:text-white">
                        <h1 class="text-2xl sm:text-6xl font-extrabold">
                            We hit a roadblock!
                        </h1>

                        <p class="text-start text-md text-gray-300">Click below to reload the page and try again.</p>
                        <p class="text-start text-sm text-gray-500">
                            If the issue persists, please open an issue
                            <a class="font-bold text-blue-500 underline cursor-pointer" href="https://github.com/ddjerqq/klean/issues" target="_blank">
                                here
                            </a>
                        </p>

                        <button @onclick="@ErrorBoundary.Recover" class="p-4 bg-gray-300 rounded-md text-black">
                            Reload
                        </button>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </div>
    </article>
</main>

@code
{
    private ErrorBoundary ErrorBoundary { get; set; } = default!;
}