@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center h-full p-5 text-black dark:text-white">
    <h1 class="text-3xl sm:text-6xl font-extrabold">Welcome to your new app</h1>
    <p class="text-xl sm:text-2xl">Explore the counter app, and user components</p>
</div>
