@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col gap-3 text-center p-5 text-black dark:text-white">
    <h1 class="text-3xl sm:text-6xl font-extrabold">Welcome to your new app</h1>
    <p class="text-xl sm:text-2xl">Explore the counter app, and user components</p>

    <AuthorizeView>
        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type: @claim.Value</p>
        }
    </AuthorizeView>
</div>