@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at cum doloribus ex expedita laborum
    laudantium nostrum recusandae repellat tempore. Dicta error numquam quia quod sint soluta velit
    voluptate voluptatibus.
</div>
