<Button onclick="window.toggleTheme()" Variant="outline" Size="icon" Class="flex-shrink-0">
    <Blazicon Svg="Sun" class="size-[1.2rem] rotate-0 scale-100 transition-all dark:rotate-90 dark:scale-0" />
    <Blazicon Svg="Moon" class="absolute size-[1.2rem] rotate-90 scale-0 transition-all dark:rotate-0 dark:scale-100" />
    <span class="sr-only">Toggle theme</span>
</Button>