@page "/counter"
@attribute [StreamRendering]
@rendermode InteractiveServer

<div class="flex flex-col">
    <h1>Counter</h1>

    <button class="p-4 bg-white text-black border-white" @onclick="@IncrementCount">Current count: @_currentCount</button>
</div>

@code
{
    private int _currentCount;

    private void IncrementCount()
    {
        _currentCount++;
    }
}