@using Domain.Dto

<div class="flex flex-col w-72 border-gray-300 bg-white text-black shadow-md shadow-gray-300 rounded-md">
    <div class="flex flex-row justify-between gap-5 p-4">
        <div class="flex flex-col flex-grow justify-between items-start">
            <a href="/user/@User.Id" class="text-blue-900 underline text-xl font-extrabold capitalize">
                @User.Username
            </a>

            <span class="text-md text-gray-500">
                @User.Email
            </span>
        </div>

        <div class="w-12 h-12">
            <img src="@User.ProfilePictureUrl" alt class="rounded-md"/>
        </div>
    </div>

    <div class="flex flex-row border-t-2 justify-between border-gray-300">
        <button class="flex flex-row justify-center text-green-700 align-middle gap-3 w-full h-full p-2">
            <span class="font-extrabold">
                $@User.Balance.ToString("N2")
            </span>
        </button>

        <div class="h-full border border-gray-300"></div>

        <button class="flex flex-row justify-center text-blue-700 align-middle gap-3 w-full h-full p-2">
            <span class="font-extrabold">
                @User.Inventory.Count().ToString("N0") Items
            </span>
        </button>
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public UserDto User { get; set; } = default!;

}