@using System.Linq.Expressions
@implements IDisposable
@typeparam TValue

<div class="@(Tw.Merge("text-xs text-destructive space-y-2", Class))" @attributes="@AdditionalAttributes">
    @foreach (var message in EditContext.GetValidationMessages(_fieldIdentifier))
    {
        <p>@message</p>
    }
</div>

@code {
    private FieldIdentifier _fieldIdentifier;
    private readonly EventHandler<ValidationStateChangedEventArgs>? _validationStateChangedHandler;

    [CascadingParameter]
    private EditContext EditContext { get; set; } = null!;

    [Parameter, EditorRequired]
    public Expression<Func<TValue>> For { get; set; } = null!;

    [Parameter]
    public string Class { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = [];

    public FormInvalidFeedback() => _validationStateChangedHandler = (_, _) => StateHasChanged();

    protected override void OnParametersSet()
    {
        if (EditContext is null)
            throw new InvalidOperationException("You must place the FormInvalidFeedback component inside an AppForm");

        _fieldIdentifier = FieldIdentifier.Create(For);
        EditContext.OnValidationStateChanged += _validationStateChangedHandler;
    }

    void IDisposable.Dispose() => EditContext.OnValidationStateChanged -= _validationStateChangedHandler;
}