@page "/auth/reset_password_confirmation"

<PageTitle>Password reset successfully</PageTitle>
<AuthHeader Title="Password reset successfully" Description="Your password has been reset."/>
<Button Href="auth/login" Class="w-full">
    Login
</Button>
