@using Presentation.Components.Layout
<!DOCTYPE html>
<html class="h-full w-full dark" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ruby</title>
    <base href="/"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="WebClient.styles.css"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="app.min.css"/>

    @* <meta property="og:title" content="ruby"> *@
    @* <meta name="twitter:title" content="ruby"> *@
    @* <meta name="theme-color" content="#211654"> *@
    @* <meta name="og:image" content="https://repository-images.githubusercontent.com/737741844/c7137314-3df7-435a-85ad-511229d6e435"> *@
    @* <meta name="twitter:image" content="https://repository-images.githubusercontent.com/737741844/c7137314-3df7-435a-85ad-511229d6e435"> *@
    @* <meta name="twitter:card" content="summary_large_image"> *@
    @* <meta property="og:description" content="ASP.NET Clean Architecture Template"> *@
    @* <meta name="description" content="ASP.NET Clean Architecture Template"> *@
    @* <meta property="twitter:description" content="ASP.NET Clean Architecture Template"> *@
</head>

<body class="w-full h-full">
<CascadingValue Value="ThemeChanged">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div class="flex flex-col gap-3 text-center p-5 text-white">
                        <h1 class="text-3xl sm:text-6xl font-extrabold">Loading...</h1>
                    </div>
                </Authorizing>

                <NotAuthorized>
                    @* <RedirectToLogin/> *@
                    <div class="flex flex-col gap-3 text-center p-5 text-white">
                        <h1 class="text-3xl sm:text-6xl font-extrabold">Unauthorized, please login!</h1>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <NotFound/>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingValue>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.web.js"></script>
</body>
</html>

@code
{
    private string Theme { get; set; } = "dark";

    private event EventHandler<string>? OnThemeChanged;

    private void ThemeChanged(string theme)
    {
        OnThemeChanged?.Invoke(this, theme);
    }

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        base.OnInitialized();

        OnThemeChanged += async (_, theme) =>
        {
            Theme = theme;
            await InvokeAsync(StateHasChanged);
        };
    }
}