<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <base href="/">
    <title>Klean</title>

    <link href="Presentation.styles.css" rel="stylesheet" />
    <link href="favicon.png" rel="icon" />
    <link href="app.min.css" rel="stylesheet" />
    <script src="scripts/app.js"></script>
    <script src="scripts/windowUtils.js"></script>

    <HeadOutlet @rendermode="InteractiveAuto" />
</head>
<body>

<Routes @rendermode="InteractiveAuto"/>

<div id="blazor-error-ui">
    error detected, please
    <a href="" class="reload">reload</a>
    <a class="dismiss">&times;</a>
</div>

<div id="components-reconnect-modal">
    <div class="flex-col gap-3 max-w-md p-2 rounded-md border border-gray-300 bg-white text-2xl" id="reconnect-show">
        <span>detected a networking error</span>
        <span>this is not a major issue</span>
        <button class="btn btn-icon btn-success p-1 flex-grow" onclick="location.reload()">
            <Blazicon Name="@Lucide.ArrowDown" class="size-6"/>
            reload
        </button>
    </div>

    <div class="flex-col gap-3 max-w-md p-2 rounded-md border border-gray-300 bg-white text-2xl" id="reconnect-hide">
        <span>server connection restore, you may reload the page.</span>
    </div>

    <div class="flex-col gap-3 max-w-md p-2 rounded-md border border-gray-300 bg-white text-2xl" id="reconnect-failed">
        <span>reload the page to recover the connection</span>
        <button class="btn btn-icon btn-success p-1 flex-grow" onclick="window.Blazor.reconnect()">
            <Blazicon Name="@Lucide.ArrowDown" class="size-6"/>
            reload
        </button>
    </div>

    <div class="flex-col gap-3 max-w-md p-2 rounded-md border border-gray-300 bg-white text-2xl" id="reconnect-rejected">
        <span>to reconnect, reload the page</span>
        <button class="btn btn-icon btn-success p-1 flex-grow" onclick="location.reload()">
            <Blazicon Name="@Lucide.ArrowDown" class="size-6"/>
            reload
        </button>
    </div>
</div>

<script src="_framework/blazor.web.js"></script>
</body>
</html>