@inherits LayoutComponentBase

<main class="h-full flex flex-col justify-between">
    <AppHeader/>

    <section class="container h-full my-12">
        @Body
    </section>

    <AppFooter />
</main>
