<div @attributes="@AdditionalAttributes">
    <CascadingValue Name="@nameof(Value)" Value="@Value">
        <CascadingValue Name="@nameof(ChangeValue)" Value="ChangeValue">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    [Parameter]
    public string Value { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = [];

    public void ChangeValue(string value)
    {
        Value = value;
        StateHasChanged();
    }
}