@page "/"

<PageTitle>Home</PageTitle>

<div class="card relative text-white p-5 rounded-md bg-gradient-to-b from-gray-700 to-gray-900 border border-gray-100
            group transition hover:scale-105 hover:border-2">
    <h1 class="text-3xl sm:text-6xl
               transition-all delay-100 ease-in-out
               group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r from-purple-600 to-60% to-blue-600">
        <span>ASP</span><span class="font-extrabold">.NET</span>
        <span>core</span>
    </h1>

    <h1 class="text-3xl sm:text-6xl font-light
               transition-all delay-200 ease-in-out
               group-hover:text-transparent group-hover:bg-clip-text group-hover:bg-gradient-to-r from-purple-600 to-60% to-blue-600">Clean Architecture</h1>
</div>