@using Presentation.Components.Ui.Card
<Card>
    <Header class="pb-3">
        <Title>Notifications</Title>
        <Description>Choose what you want to be notified about.</Description>
    </Header>

    <Content class="grid gap-1">
        <div class="hover:bg-accent hover:text-accent-foreground -mx-2 flex items-start space-x-4 rounded-md p-2 transition-all">
            <Blazicon Svg="Icons.Bell" Class="mt-px size-16" />
            <div class="space-y-1">
                <p class="text-sm font-medium leading-none">Everything</p>
                <p class="text-muted-foreground text-sm">Email digest, mentions & all activity.</p>
            </div>
        </div>
        <div class="bg-accent text-accent-foreground -mx-2 flex items-start space-x-4 rounded-md p-2 transition-all">
            <Blazicon Svg="Icons.User" Class="mt-px size-16" />
            <div class="space-y-1">
                <p class="text-sm font-medium leading-none">Available</p>
                <p class="text-muted-foreground text-sm">Only mentions and comments.</p>
            </div>
        </div>
        <div class="hover:bg-accent hover:text-accent-foreground -mx-2 flex items-start space-x-4 rounded-md p-2 transition-all">
            <Blazicon Svg="Icons.EyeOff" Class="mt-px size-16" />
            <div class="space-y-1">
                <p class="text-sm font-medium leading-none">Ignoring</p>
                <p class="text-muted-foreground text-sm">Turn off all notifications.</p>
            </div>
        </div>
    </Content>
</Card>