<span class="@(Tw.Merge("bg-muted flex h-full w-full items-center justify-center rounded-full", Class))" @attributes="AdditionalAttributes"></span>

@code {
    [Parameter]
    public string Class { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = [];
}