<label class="@(Tw.Merge("text-sm font-medium leading-none peer-required:after:content-['*'] peer-disabled:cursor-not-allowed peer-disabled:opacity-70", Class))"
       @attributes="@AdditionalAttributes">
    @ChildContent
</label>

@code {
    [Parameter]
    public string Class { get; set; } = default!;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = [];
}