@using System.ComponentModel.DataAnnotations
@inject IJSRuntime Js

<Button Variant="@Variant" Class="@Class"
        @onclick="@OnClick"
        title="@Content"
        @attributes="AdditionalAttributes">
    @if (Copied)
    {
        @:Copied!
    }
    else
    {
        @ChildContent
    }
</Button>

@code {
    private bool Copied { get; set; } = false;

    [Parameter, EditorRequired]
    public string Content { get; set; } = null!;

    [Parameter]
    public string Class { get; set; } = null!;

    [Parameter]
    [AllowedValues("default", "destructive", "outline", "secondary", "ghost", "link")]
    public string Variant { get; set; } = "default";

    [Parameter]
    [AllowedValues("default", "sm", "lg", "icon")]
    public string Size { get; set; } = "default";

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; } = [];

    private async Task OnClick()
    {
        Copied = true;
        await Js.InvokeVoidAsync("navigator.clipboard.writeText", Content);
        await Task.Delay(1000);
        Copied = false;
    }
}
