<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div class="flex flex-col gap-3 text-center p-5 text-black dark:text-white">
                        <h1 class="text-3xl sm:text-6xl font-extrabold">Loading...</h1>
                    </div>
                </Authorizing>

                <NotAuthorized>
                    <RedirectToLogin/>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <NotFound/>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>