<div class="group relative flex flex-col border-2 border-gray-100 rounded-md">
    <img class="rounded-t-[4px]" src="https://via.placeholder.com/200x100?text=operator" alt="@Name cover" width="200px" height="100px"/>
    <div class="hidden group-hover:block absolute w-full top-[76px] bg-gray-600 opacity-45">description</div>
    <span class="bg-gray-800 py-1 uppercase font-extrabold text-lg rounded-b-md">@Name</span>
</div>

<div data-hello="hello" class="p-4 [&[data-hello='hello']]:bg-red-500"></div>

<ul class="group">
    @* everything except the element being hovered *@
    <li class="relative before:absolute before:top-0 before:bottom-0 before:left-[10px] before:right-[-10px]
               [&:not(:hover),&:not(:first),&:not(:last)]:group-hover:bg-red-500">

    </li>
</ul>

@code {

    [Parameter, EditorRequired]
    public string Name { get; set; } = string.Empty;

}