@page "/"
@using Domain.Common

<PageTitle>Home</PageTitle>


<div class="h-full flex-1 space-y-4 p-8 pt-6">
    <div class="flex items-center justify-between space-y-2">
        <h2 class="text-3xl font-bold tracking-tight">Home</h2>
    </div>

    <AuthorizeView>
        <h1>Hello, @(context.User.Identity?.Name?.SplitName()?.First ?? "world")</h1>
    </AuthorizeView>
</div>
