name: Build and Test PR

on:
  pull_request:
    branches: [ "master" ]

env:
  NETCORE_VERSION: '8.0.x'

jobs:
  build-and-test:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 🛎️
        uses: actions/checkout@v4

      - name: Test 🧪
        run: dotnet test --verbosity normal